.block-title {
    font-size: 40px !important;
    font-weight: 700;
    line-height: 1.1em;
    @media (max-width: 768px) {
        font-size: 34px !important;
        font-weight: 500;
        line-height: 1.1em;
    }
}

.block-sub-title {
    font-weight: 500;
    font-size: 16px !important;
}
