@import "./variables";
@import "./mixins/buttons";
@import "./functions";

// button
.login__button_social {
    height: 50px;
    > img {
        object-fit: contain;
        height: 40px;
        width: 100%;
    }
}

.d-button__trans-light:active,
.d-button__trans-light:hover {
    background-color: transparent !important;
}

.checkbox__check-mark {
    border-color: $gold-color !important;
}

.checkbox__container
    .checkbox__input-wrapper
    .checkbox__input:checked
    ~ .checkbox__check-mark {
    background-color: $gold-color !important;
}

.border-gold {
    border-color: $gold-color !important;
}

.d-modal__children {
    padding: 0px !important;
}

.d-input-text__input-container {
    @media (max-width: 576px) {
        min-height: 50px !important;
    }
}

.d-select__select .ant-select-selector {
    min-height: 50px !important;
}

.d-select__container
    .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    height: 50px !important;
}
.ant-select-selection-search-input {
    color: $input-color-content !important;
}

.d-button {
    &:hover {
        background-color: transparent !important;
    }
    &:active {
        background-color: transparent !important;
        opacity: 50%;
    }
}

.d-button__trans-primary {
    &:hover {
        background-color: var(--color-darken) !important;
    }
}

// change auto complete input background color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $input-bg-color inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: $input-color-content !important;
}

.ant-select-dropdown {
    background-color: transparent !important;
}

.d-input-text__container {
    .d-input-text__suffix-container,
    .d-input-text__prefix-container {
        background-color: transparent !important;
        border: none !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
            color: var(--color-gold);
            display: block !important;
        }
    }
}
