@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-font-family: "Poppins", "sans-serif";
    --color-primary-light: #476a92;
    --color-primary: #28425f;
    --color-primary-dark: #0d1c2b;
    --color-gold-light: rgb(245, 206, 133);
    --color-gold: rgba(192, 157, 94, 1);
    --color-gold-dark: rgb(153, 118, 53);
    --color-darken: rgb(38, 38, 38);
    background-color: black;
}

body {
    font-family: var(--body-font-family);
    background-color: black;
}

button {
    background-color: unset;
}

.none {
    display: none;
}

.display-none {
    display: none;
}

@layer components {
}
.currency-hover:hover span.inline-block {
    text-decoration: underline;
}

.custom-continer-inner {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}
.custom-continer-fuller {
    width: 90%;
    max-width: 1560px;
    margin: 0 auto;
}
.simple-section li::before {
    padding: 0;
    flex: inherit;
}
.simple-section ul {
    padding: 0;
}
.simple-section .simple-bottom-left {
    width: 50%;
}
.simple-section .simple-bottom-right {
    width: 42%;
}
.dot-btn {
    width: 20px !important;
    height: 20px !important;
    borderRadius: 50% !important;
    display: inline-block !important;
}
@media screen and (max-width: 767px) {
    .simple-section .simple-bottom-left {
        width: auto;
    }
    .simple-section .simple-bottom-right {
        width: auto;
    }
    .dot-btn {
        width: 16px !important;
        height: 16px !important;
    }
}